<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'KasIndex/contact_us.css' %}">
</head>
<body>
    <div class="top-bar">
        <a href="{% url 'index' %}">
            {% load static %}
            <img src="{% static 'KasIndex/images/home2.png' %}" alt="Logo">
        </a>
    </div>
    <div class="container">
        <div class="logo-container">
            {% load static %}
            <img src="{% static 'KasIndex/images/logo2.png' %}" alt="Logo Principal">
        </div>
        <form method="POST" action="{% url 'contact_us' %}">
            {% csrf_token %}
            <div class="input-group">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name" placeholder="Nombre" required>
            </div>
            <div class="input-group">
                <label for="phone">Teléfono</label>
                <input type="number" name="phone" id="phone" placeholder="Telefono" required>
            </div>
            <div class="input-group">
                <label for="email">Correo Electrónico</label>
                <input type="email" name="email" id="email" placeholder="anonimo@gmail.com" required>
            </div>
            <div class="input-group">
                <label for="actor">Actor</label>
                <input type="text" name="actor" id="actor" placeholder="Actor" required>
            </div>
            <div class="button">
                <button type="submit" title="Enviar">Enviar</button>
            </div>
        </form>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</body>
</html>