<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KAS Management</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'KasIndex/style.css' %}">
    <link rel="stylesheet" href="{% static 'KasIndex/video.css' %}">
    <link rel="stylesheet" href="{% static 'KasIndex/special.css' %}">
    <link rel="stylesheet" href="{% static 'KasIndex/about.css' %}">
    <link rel="stylesheet" href="{% static 'KasIndex/clients.css' %}">
</head>
<body>

    <!-- Sección del logo en video -->
    <section id="video">
        <video id="myVideo" autoplay muted playsinline>
            <source src="#" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video>
    </section>

    <!-- Sección de Talentos -->
    <section id="special-talents">
        
        <!-- Fila superior con 3 actores -->
        <div class="row-1">
            <div>
                <img src="#" alt="Altair Jarabo">
            </div>
            <div>
                <img src="#" alt="Diego Olivera">
            </div>
            <div>
                <img src="#" alt="Oka Giner">
            </div>
            <div>
                <img src="#" alt="David Zepeda">
            </div>
        </div>

        <!-- Fila intermedia con 2 actores -->
        <div class="row-2">
            <div>
                <img src="#" alt="Eric del Castillo">
                <span>Eric del Castillo</span>
            </div>
            <div>
                <img src="#">
                <span>Sabine Moussier</span>
            </div>
            <div>
                <img src="#">
                <span>Saul Lizaso</span>
            </div>
        </div>
    </section>    

        <!-- Burbujas adicionales de talentos en la parte inferior -->
    <section id="talents">    
        <div class="bubble-container">
            <div class="additional-bubbles">
                <div>
                    <img src="#" alt="Actor 12">
                    <span>Sabine Moussier</span>
                </div>
                <div>
                    <img src="#" alt="Actor 7">
                    <span>Altair Jarabo</span>
                </div>
                <div>
                    <img src="#" alt="Actor 8">
                    <span>Diego Olivera</span>
                </div>
                <div>
                    <img src="#" alt="Actor 9">
                    <span>Eric del Castillo</span>
                </div>
                <div>
                    <img src="#" alt="Actor 10">
                    <span>Oka Giner</span>
                </div>
                
                <div>
                    <img src="#" alt="Actor 11">
                    <span>Saul Lisazo</span>
                </div>
                <div>
                    <img src="#" alt="Actor 12">
                    <span>Sabine Moussier</span>
                </div>
                <div>
                    <img src="#" alt="Actor 8">
                    <span>Diego Olivera</span>
                </div>
                <div>
                    <img src="#" alt="Actor 7">
                    <span>Altair Jarabo</span>
                </div>
                <div>
                    <img src="#" alt="Actor 9">
                    <span>Eric del Castillo</span>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección About Us -->
    <section id="about-us">
        <div class="about-content">
            <img src="#" alt="Foto del Fundador">
            <p>En 2017, dos amigos inseparables y socios con un sueño en común se lanzaron al mundo de la representación de talentos. No buscaban seguir las normas ni adaptarse a las fórmulas de siempre. Querían abrir un nuevo camino y hacer que los talentos más auténticos brillaran en la pantalla.

                <br>Así nació <b>KAS Management</b>: una agencia que toma los riesgos necesarios y desafía los límites para que cada uno de sus talentos sea algo más que un nombre. Desde su creación, ha sido un viaje de descubrimientos y desafíos, pero sobre todo, de éxitos compartidos. 
                
                <br>Hoy, <b>KAS Management</b> es una fuerza creativa detrás de talentos que no solo ocupan un lugar en la televisión, sino que dejan una huella inolvidable.
                Bienvenidos a KAS Management, donde cada talento encuentra su momento de brillar.
            </p>            
        </div>
    </section>

    <!-- Sección de Clientes -->
    <section id="clients">
        <div class="clients-logos">
            <img src="#" alt="Logo Cliente 1">
            <img src="#" alt="Logo Cliente 2">
            <img src="#" alt="Logo Cliente 3">
            <img src="#" alt="Logo Cliente 4">
        </div>
    </section>

</body>
</html>