.about-content {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    background-color: rgb(61, 61, 80);
    color: #c0c0c0;
    border-radius: 20px;
}